.messageSection {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-right: 2em;
}
.titleh2 {
    text-align: left;
    margin-bottom: 0;
}

.foundersMessageText {
    text-align: left;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
}
.foundersMessageImg {
    /* min-width: 300px; */
    height: 830px;
    /* border: 1px solid wheat; */
}
.valuesSection {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.valuesImg {
    min-width: 300px;
    height: 50vh;
    /* border: 1px solid wheat; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.valuesImg:hover {
    transform: scale(1.1);
}
.valuesTitle {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    margin-bottom: 1em;
}
.valuesBoxes {
    display: flex;
    margin-top: 0;
    justify-content: flex-start;
    width: 500px;
    height: 460px;
    /* border: 1px solid peachpuff; */
    flex-wrap: wrap;
    /* perspective: 10px; */
}
.valuesBox {
    height: 80px;
    width: 80px;
    background-color: #2E2E2E;
    margin: 1em;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
}
.valuesBox:hover {
    transform: scale(1.05);
}
.noBox {
    display: none;
}
.closeIcon {
    text-align: right;
    font-size: 250%;
    margin-top: 2em;
}
.closeIcon:hover {
    opacity: .5;
}
.openBox {
    background-color: #2E2E2E;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (min-width: 600px) {
    .valuesTitle {
        line-height: 72px;
        text-align: center;
    }
    .valuesBox {
        height: 200px;
        width: 200px;
    }
    .valuesImg {
        height: 40vh;
    }
    .valuesSection {
        justify-content: center;
        align-items: center;
    }
    .openBox {
        height: 420px;
        width: 420px;
        margin: 1em;
    }
    .foundersMessageImg {
        width: 50vw;
        height: 90vh;
    }
    .messageSection {
        align-items: center;
    }
    .foundersMessageText {
        text-align: center;
    }
    .foundersMessageImg {
        height: 50vh;
    }
}

@media (min-width: 1000px) {
    .messageSection {
        align-items: flex-start;
    }
    .foundersMessageText {
        text-align: left;
    }
    .foundersMessageImg {
        height: 80vh;
    }
    .valuesTitle {
        line-height: 102px;
        text-align: left;
    }
    .valuesSection {
        width: 50%;
        margin-right: 2em;
    }
    .valuesImg {
        height: 75vh;
    }
}