.homeHeroSection {
    max-width: 100vh;
    font-family: 'Poppins', sans-serif !important;
    margin: 0 auto;
}
.heroTitle {
    color: #FFFFFF;
    font-size: 45px;
    line-height: 47px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1em;
}
.heroImg {
    min-width: 300px;
    /* min-height: 80vh; */
    /* border: 1px solid wheat; */
    text-align: center;
}
.briefStorySection {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    padding: 0;
    justify-content: space-around;
    align-items: center;
    margin: 2em .5em;
    font-family: 'Poppins', sans-serif;
}
.briefStoryTitle {
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 1em;
}
.characterName {
    text-align: center;
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 0;
}
.subSection {
    display: flex;
    flex-direction: column;
    width: 90%;
    order: 1;
}
.briefStoryText {
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    margin-bottom: 5em;
}
.briefStoryImg {
    min-width: 300px;
    /* height: 75vh; */
    /* border: 1px solid wheat; */
    margin: 1em 0;
}
.problemImg {
    min-width: 300px;
    height: 530px;
    /* border: 1px solid wheat; */
    font-size: 200%;
    margin: 1em 0;

    display: flex;
    justify-content: center;
    align-items: center;
}
.characterImg {
    width: 150px;
    height: 150px;
    border: 1px solid wheat;
    margin: 0 auto;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.characterImg:hover {
    transform: scale(1.1);
}
.questionBox {
    padding: 1em;
    margin-top: .5em;
    background-color: #2E2E2E;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
}
.questionPart {
    display: flex;
    justify-content: space-between;
}
.searchIcon {
    border-right: 1px solid white;
    padding-right: 1em;
    margin-right: 1em;
}
.questionLeft {
    text-align: left;
}
.responseBox {
    padding: 0 1em;
    margin-top: .5em;
    background-color: #2E2E2E;
    border-radius: 10px;
    font-size: 80%;
    text-align: left;
    line-height: 26px;
}
hr {
    opacity: .25;
}
.characterImgs {
    min-width: 300px;
    max-height: 630px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.character {
    cursor: pointer;
    margin: 0 .5em;
    font-size: 150%;
    opacity: .3;
}
.character:hover {
    opacity: 1;
}
.activeCharacter {
    opacity: 1;
    transition: all .5s ease-in-out;
    transform: scale(1.2);
}
.homeReferenceBtn {
    color: #FFFFFF;
    border: #9E55FC 1px solid;
    padding: 1em;
    width: 50%;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
    transition: all .2s ease-in-out;
}
.homeReferenceAnchor {
    text-align: left;
    margin: 1em;
    text-decoration: none;
    color: #9E55FC;
    font-weight: 600;
    font-size: 1.2em;
}
.homeReferenceBtn:hover {
    /* opacity: .5; */
    background-color: #9E55FC;
    transform: scale(1.03);
}
.homeReferenceAnchor:hover {
    opacity: .5;
}

@media (min-width: 600px) {
    .homeHeroSection {
        margin-top: 10em;
    }
    .heroImg {
        max-width: 700px;
        max-height: 100vh;
    }
    .subSection {
        justify-content: center;
        align-items: center;
        order: 0;
    }
    .briefStoryText {
        width: 90%;
    }
    .briefStoryImg {
        max-width: 700px;
        margin: 5em 0;
    }
    .activeCharacter {
        transform: scale(1.1);
    }
    .characterImgs {
        margin: 2em 0;
    }
    .questionBox {
        width: 60vw;
    }
  
}

@media (min-width: 1000px) {
    .homeHeroSection {
        width: 100vh;
    }
    .heroTitle {
        font-size: 60px;
        line-height: 127px;
    }
    .heroImg {
        min-height: 60vh;
    }
    .briefStoryImg {
        width: 664px;
    }
    .briefStorySection {
        margin: 10em 2em;
        flex-direction: row;
        justify-content: space-between;
    }

    .briefStoryTitle {
        font-size: 40px;
        line-height: 50px;
        text-align: left;
    }
    .briefStoryText {
        font-size: 16px;
        line-height: 30px;
        text-align: left;
    }
    .subSection {
        width: 50%;
        align-items: flex-start;
    }
    .character {
        margin: 0;
    }
    .characterImg {
        margin: 1em;
        margin-left: 0;
    }
    .characterName {
        text-align: left;
    }
    .activeCharacter {
        transform: scale(1.2);
    }
    .miniChar {
        text-align: left;
    }
    .questionBox {
        width: 35vw;
    }
}