.homeHeroSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    font-family: 'Poppins', sans-serif !important;
    margin: 0 auto;
}
.heroTitle {
    color: #FFFFFF;
    font-size: 2.3em;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1em;
}
.heroImg {
    width: 95vw;
    text-align: center;
}
.briefStorySection {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    padding: 0;
    justify-content: center;
    align-items: center;
    margin: 2em .5em;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}
.briefStoryTitle {
    font-weight: 700;
    font-size: 1.6em;
    margin-bottom: .5em;
}
.characterName {
    text-align: center;
    font-size: 1.6em;
    line-height: 2.2em;
    margin-bottom: 0;
}
.subSection {
    display: flex;
    flex-direction: column;
    width: 90%;
    order: 1;
    justify-content: center;
    align-items: center;
}
.briefStoryText {
    color: #FFFFFF;
    font-size: .9em;
    line-height: 1.7em;
    font-weight: 400;
    margin-bottom: 2em;
}
.briefStoryImg {
    width: 95vw;
    /* height: 75vh; */
    /* border: 1px solid wheat; */
    margin: 1em 0;
}
.problemImg {
    width: 95vw;
    /* border: 1px solid wheat; */
    font-size: 200%;
    margin: 1em 0;

    display: flex;
    justify-content: center;
    align-items: center;
}
.characterImg {
    width: 150px;
    height: 150px;
    border: 1px solid wheat;
    margin: 0 auto;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.characterImg:hover {
    transform: scale(1.1);
}
.questionBox {
    padding: 1em;
    margin-top: .5em;
    background-color: #2E2E2E;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    width: 80vw;
}
.questionPart {
    display: flex;
    justify-content: space-between;
}
.searchIcon {
    border-right: 1px solid white;
    padding-right: 1em;
    margin-right: 1em;
}
.questionLeft {
    text-align: left;
}
.responseBox {
    padding: 0 1em;
    margin-top: .5em;
    background-color: #2E2E2E;
    border-radius: 10px;
    font-size: 80%;
    text-align: left;
    line-height: 26px;
}
hr {
    opacity: .25;
}
.characterImgs {
    min-width: 300px;
    max-height: 630px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.character {
    cursor: pointer;
    margin: 0 .5em;
    width: 40vw;
    opacity: .3;
}
.character:hover {
    opacity: 1;
}
.activeCharacter {
    opacity: 1;
    transition: all .5s ease-in-out;
    transform: scale(1.2);
    z-index: 9;
}
.homeReferenceBtn {
    color: #FFFFFF;
    border: #9E55FC 1px solid;
    padding: 1em;
    width: 50%;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 600;
    transition: all .2s ease-in-out;
}
.homeReferenceAnchor {
    text-align: left;
    margin: 1em;
    text-decoration: none;
    color: #9E55FC;
    font-weight: 600;
    font-size: 1.1em;
    line-height: 1.5em;
    margin-bottom: 4em;
}
.homeReferenceBtn:hover {
    /* opacity: .5; */
    background-color: #9E55FC;
    transform: scale(1.03);
}
.homeReferenceAnchor:hover {
    opacity: .5;
}

@media (min-width: 600px) {
    .heroImg {
        width: 90vw;
    }
    .heroTitle {
        font-size: 2.6em;
    }
    .subSection {
        justify-content: center;
        align-items: center;
    }
    .briefStoryText {
        width: 90%;
    }
    .briefStoryImg {
        max-width: 700px;
    }
    .activeCharacter {
        transform: scale(1.1);
    }
    .characterImgs {
        margin: 2em 0;
    }
    .questionBox {
        width: 60vw;
    }
    .briefStoryText {
        font-size: 1.1em;
        line-height: 1.8em;
    }
    .homeReferenceBtn {
        font-size: 1.2em;
        line-height: 2.4em;
    }
    .briefStorySection {
        margin: 6em 0;
        min-height: 95vh;
    }
    .problemImg {
        width: 90vw;
        margin: 0;
    }

  
}

@media (min-width: 1000px) {
    .homeHeroSection {
        width: 100vh;
    }
    .heroTitle {
        font-size: 3em;
        margin-bottom: 0;
        margin-top: 2em;
    }
    .heroImg {
        max-width: 60vw;
        /* height: 80vh; */
    }
    .briefStoryImg {
        width: 664px;
    }
    .briefStorySection {
        min-height: 100vh;
        margin: 10em 2em;
        flex-direction: row;
        justify-content: space-between;
    }

    .briefStoryTitle {
        font-size: 2.4em;
        text-align: left;
    }
    .briefStoryText {
        width: 90%;
        text-align: left;
    }
    .subSection {
        width: 50%;
        align-items: flex-start;
        order: 0;
    }
    .character {
        margin: 0;
    }
    .characterImg {
        margin: 1em;
        margin-left: 0;
    }
    .characterName {
        text-align: left;
    }
    .activeCharacter {
        transform: scale(1.2);
    }
    .miniChar {
        text-align: left;
    }
    .questionBox {
        width: 35vw;
    }
}