.navContainer {
    width: 100vw;
    display:flex;
    position: fixed;
    justify-content: center;
    top: 0;
    z-index: 9999;
    padding-top: 1em;
    color: #FFFFFF;
}
.scrolledNav {
    /* opacity: .5; */
    border-radius: 5px;
    font-size: 80%;
    padding: 0;
}
.logoContainer {
    margin-left: 1em;
}
.menuSection {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.openedMenuSection {
    background-color: rgba(75, 74, 74, 0.44);
    border-radius: 10px;
}
.menuSection ul {
    list-style: none;
}
.ulMenu {
    display: none;
}
.menuSection li {
    font-size: 18px;
    padding: .5em .8em;
}

.navLink {
    color: #FFFFFF;
    text-decoration: none;
}
.navLink:hover {
    opacity: .7;
}

.activeMenuItem {
    position: relative;
    display:inline-block;  
}
.activeMenuItem::after {
    background-color: #9E55FC;
    position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg); 
	-o-transform: skew(-20deg); 
	z-index: -1;
}
.white::after  {
    background-color: white;
    color: #9E55FC !important;
}
.dropdownMenu {
    padding:1em;
    font-size: 150%;
    text-align: center;
}
.dropdownMenu:active {
    opacity: .5;
}
.dropdownText {
    font-size: .4em;
}
.downIcon {
    font-size: 10px;
    margin-left: .7em;
}
.stickyNavContainer {
    display: flex;
    flex-direction: row;
    position:fixed;
    bottom: 8%;
    justify-content: center;
    align-items: center;
    width: 100vw;
    z-index: 99999;
}
.verticalNavSection {
    font-size: 1em;
    color: #414141;
    margin-bottom: 1em;
    padding-left: 1em;
}
.verticalNavSection:hover {
    opacity: .7;
}
.activeNavSection {
    color: #9E55FC;
    font-size: 1.1em;
    padding-top: .2em;
    
}
.ulDropdown {
    /* background-color: rgba(75, 74, 74, 0.44); */
    margin: 0;
    padding: 0;
    text-align: center;
    border-radius: 10px;
    animation: growDown 500ms ease-in-out forwards;
    transform-origin: top center;
}
.logoImg {
    width: 150px;
    transition: all .2s ease-in-out;
}
.logoImg:hover {
    opacity: 1 !important;
    transform: scale(1.1);
}
@keyframes growDown {
    0% {
      transform: scaleY(0)
    }
    80% {
      transform: scaleY(1.1)
    }
    100% {
      transform: scaleY(1)
    }
  }
.ulDropdown li {
    opacity: .5;
    padding: .3em 1em;
}
.ulDropdown li:not(:last-child) {
    border-bottom: 1px solid rgb(255, 255, 255);
}
.activeDropdownMenuItem {
    background-color: #9E55FC;
    opacity: 1 !important;
}
.bottomMenu {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #414141;
    flex-shrink: 1;
    border-radius: 5px;
    perspective: 1000px;
    z-index: 9999999999;
}
.bottomMenuItems {
    text-align: center;
    flex: 1;
    color: white;
    padding: .5em;
    font-size: 120%;
    border-radius: 5px;
    border-right: 2px solid rgba(83, 82, 82, 0.493);
    text-decoration: none;
   
}
.activeBottomMenuItem {
    background-color: #9E55FC;
}
.bottomMenuText {
    font-size: .6em;
    margin: 0;
}
.hideMenu {
    display: none;
}

@media (min-width: 600px) {
    .navContainer {
        justify-content: space-between;
    }
    .ulDropdown li {
        padding: .7em 1em;
    }
    .stickyNavContainer {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        max-width: 5vh;
        height: 90vh;
        margin-top: 20em;
        margin-left: 0;
        padding: .5em;
    }
    .bottomMenu {
        display: none;
    }
    .hideMenu {
        display: block;
    }
    .activeNavSection {
        font-size: 1.5em;
        padding-left: .50em;
    }
}

@media (min-width: 1000px) {
  .verticalNavSection {
      font-size: 1.5em;
      margin-right: 1em;
  }
  .activeNavSection {
      font-size: 2em;
      padding-left: .65em;
  }
  .ulMenu {
    display: block;
  }
  .dropdownMenu {
      display: none;
  }
  .scrolledNav {
    background-color: rgb(49, 49, 49);
    font-size: 70% !important;
  }
  .scrolledNav li {
      font-size: 150%;
  }
  .menuSection {
    flex-direction: row;
  }
  .menuSection li {
    display: inline;
    margin-right: 1em;
  }
  .logoContainer {
    order: 0;
    margin-left: 2em;
  }
  .stickyNavContainer {
    margin-top: 15em;
  }
  .navContainer {
      padding-top: 1em;
  }
}