.roadmapHero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
    padding-top: 3em;
    /* min-height: 100vh; */
}
.roadmap {
    /* align-items: baseline; */
    height: 50vh;
    margin-bottom: 10em;
    font-family: 'Poppins', sans-serif;
    /* display: flex; */
}
.roadmapTitle {
    color: white;
    font-size: 2.3em;
    margin-top: 2em;
    margin-bottom: 2em;
}
.foregroundImg, .foregroundImgTwo, .foregroundImgThree{
    width: 100px;
    /* object-fit: cover; */
    cursor: pointer;
    opacity: .5;
    transition: all .2s ease-in-out;
}
.foregroundImg:hover, .foregroundImgTwo:hover, .foregroundImgThree:hover {
    transform: scale(1.1);
    opacity: 1;
}
.foregroundImgTwo, .foregroundImgThree {
    margin-left: 5em;
    margin-bottom: 5em;
    margin-right: 1em;
}
.foregroundImg {
    margin-top: 2em;
}
.roadmapStoryImg {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    border: 1px solid white;
    width: 90vw;
}
.rmp {
    margin-left: 0;
}
.activeBox {
    opacity: 1;
}
.roadmapTextSection {
    width: 90%;
}
.briefStoryText li {
    margin-bottom: 1em;
    text-align: start;
}

@media (min-width: 600px) {
    .foregroundImg, .foregroundImgTwo, .foregroundImgThree {
        width: 170px;
        margin-top: 5em;
    }
    .foregroundImgTwo, .foregroundImgThree {
        margin-left: 2.5em;
        margin-bottom: 2.5em;
        margin-right: .5em;
    }
    .roadmapTitle {
        font-size: 2.6em;
    }
    .roadmapTextSection {
        width: 100%;
    }
    .briefStoryText li {
        margin-bottom: .5em;
    }
}

@media (min-width: 1000px) {
    .foregroundImg, .foregroundImgTwo, .foregroundImgThree {
        width: 200px;
        margin-top: 2em;
    }
    .foregroundImgTwo, .foregroundImgThree {
        margin-left: 3em;
        margin-bottom: 3em;
        margin-right: .8em;
    }
    .roadmapTitle {
        font-size: 3em;
    }
 .roadmapStoryImg {
     width: 50vw;
 }
  
}

@media (min-width: 1200px) {
    .roadmapTitle {
        margin-bottom: 0em;
    }
    .foregroundImg, .foregroundImgTwo, .foregroundImgThree {
        width: 240px;
        margin-top: 2em;
    }
    .foregroundImgTwo, .foregroundImgThree {
        margin-left: 5em;
        margin-bottom: 5em;
        margin-right: 1em;
    }
  
}

