.roadmap {
    /* align-items: baseline; */
    height: 50vh;
    margin-bottom: 10em;
    font-family: 'Poppins', sans-serif;
    /* display: flex; */
}
.roadmapTitle {
    color: white;
    font-size: 4em;
    margin-top: 2em;
    margin-bottom: 0;
}
.foregroundImg, .foregroundImgTwo, .foregroundImgThree{
    width: 250px;
    /* object-fit: cover; */
    cursor: pointer;
    opacity: .7;
    transition: all .2s ease-in-out;
}
.foregroundImg:hover, .foregroundImgTwo:hover, .foregroundImgThree:hover {
    transform: scale(1.1);
    opacity: 1;
}
.foregroundImgTwo, .foregroundImgThree {
    margin-left: 5em;
    margin-bottom: 5em;
    margin-right: 1em;
}
.foregroundImg {
    margin-top: 2em;
}
.roadmapStoryImg {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    border: 1px solid white;
    min-width: 400px;
    min-height: 400px;
}

