.fablesMythsHeroImg {
    display: flex;
    color: white;
    font-size: 200%;
    justify-content: center;
    align-items: center;

    padding:.5em;
    height: 300px;
    border: 1px solid wheat;
    text-align: center;
    margin: 0 2em;
}
.slideShowDotsContainer {
    display: flex;
    justify-content: center;
    margin: 2em 0;
}

.slideShowDot {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #BBBBBB;
    margin: 1em;
    cursor: pointer;
}
.slideShowDot:hover {
    background-color: #9E55FC;
    border: 1px solid transparent;
}
.activeDot {
    background-color: #9E55FC;
    border: 0;
}
.storyTitle {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-weight: 700;
    font-size: 2.2em;
    line-height: 102px;
    margin-bottom: 0;
}
.storyText {
    text-align: center;
    font-size: .9em;
    line-height: 1.7em;
    font-weight: 400;
    padding: 2em;
    color: white;
    background-color: #1B1919;
}
.order {
    order: 1;
}
.storyImg {
    width: 160px;
    border: 1px solid white;
    background-color: gray;
}
.storyHero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}
.storyBTitle {
    color: white;

}
.AppG {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    scroll-behavior: smooth;
}
.background {
    transform: translateZ(-10px) scale(2);
}
.foreground {
    transform: translateZ(-5px) scale(1.5);
}
.char {
    cursor: pointer;
    opacity: .5;
}
.char:hover {
    opacity: 1;
}
.charActive {
    opacity: 1;
}
.background, 
.foreground {
     position: absolute;
     height: 100%;
     width:  100%;
     object-fit: cover;
     z-index: -1;
}
.characterHeroSection {
    min-width: 95vw;
    margin-bottom: 0;
    text-align: center !important;
}
.charLetter {
    height: 150px;
    cursor: pointer;
    transition: .2s all ease-in-out;
    opacity: .2;
}
.charLetter:hover, .selectedCharacter {
    transform: scale(1.2);
    opacity: 1;
}
.fmSpecialSection {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    padding: 0;
    justify-content: center;
    align-items: center;
    margin: 2em .5em;
    min-height: 100vh;
}
.charInfoText {
    font-size: .9em;
    line-height: 1.7em;
}
.charactersTogether {
    width: 100vw;
}

@media (min-width: 600px) {
    .storyBTitle {
        font-size: 350%;
    }
    .storyText {
        font-size: 1.1em;
        text-align: center;
        padding: 1.5em 2em;
    }
    .charInfoText {
        text-align: center;
    }
    .storyTitle {
        font-size: 50px;
    }
    .storyImg {
        width: 260px;
        border-top: 1px solid gray;
    }
    .charLetter {
        height: 200px;
    }
}

@media (min-width: 1000px) {
    .storyBTitle {
        font-size: 400%;
    }
    .storyText {
        text-align: left;
    }
    .charLetter {
        height: 250px;
    }
    .charInfoText {
        text-align: left;
    }
    .storyTitle {
        font-size: 60px;
    }
    .storyImg {
        border-top: 0;
    }
    .charLetter {
        height: 300px;
    }
    .fmSpecialSection {
        flex-direction: row;
        justify-content: space-around;
    }
}

@media (min-width: 1200px) {

}
