.fablesMythsHeroImg {
    display: flex;
    color: white;
    font-size: 200%;
    justify-content: center;
    align-items: center;

    padding:.5em;
    height: 300px;
    border: 1px solid wheat;
    text-align: center;
    margin: 0 2em;
}
.slideShowDotsContainer {
    display: flex;
    justify-content: center;
    margin: 2em 0;
}

.slideShowDot {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #BBBBBB;
    margin: 1em;
    cursor: pointer;
}
.slideShowDot:hover {
    background-color: #9E55FC;
    border: 1px solid transparent;
}
.activeDot {
    background-color: #9E55FC;
    border: 0;
}
.storyTitle {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-weight: 700;
    font-size: 60px;
    line-height: 102px;
    margin-bottom: 0;
}
.storyText {
    text-align: left;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
}
.order {
    order: 1;
}
.storyImg {
    width: 460px;
    /* height: 660px; */
    /* border: 1px solid wheat; */
}
.storyHero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}
.storyText {
    padding: 1em;
    color: white;
    background-color: #1B1919;
}
.storyBTitle {
    color: white;

}
.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    margin-left: 2em;
}
.background {
    transform: translateZ(-10px) scale(2);
}
.foreground {
    transform: translateZ(-5px) scale(1.1);
}
.char {
    cursor: pointer;
    opacity: .5;
}
.char:hover {
    opacity: 1;
}
.charActive {
    opacity: 1;
}
.background, 
.foreground {
     position: absolute;
     height: 100%;
     width:  100%;
     object-fit: cover;
     z-index: -1;
}
.charcterHeroSection {
    min-width: 95vw;
    margin-bottom: 0;
}
.charLetter {
    height: 350px;
    cursor: pointer;
    transition: .2s all ease-in-out;
    opacity: .2;
}
.charLetter:hover, .selectedCharacter {
    transform: scale(1.2);
    opacity: 1;
}

@media (min-width: 600px) {
    .storyBTitle {
        font-size: 400%;
    }
}
