.fablesMythsHeroImg {
    display: flex;
    color: white;
    font-size: 200%;
    justify-content: center;
    align-items: center;

    padding:.5em;
    height: 300px;
    border: 1px solid wheat;
    text-align: center;
    margin: 0 2em;
}
.storyTitle {
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-weight: 700;
    font-size: 2.2em;
    margin-bottom: 0;
}
.order {
    order: 1;
}
.storyImg {
    width: 160px;
    background-color: gray;
    border-radius: 10px;
}
.storyHero {
    display: none;
}
.storyBTitle {
    color: white;

}
.AppG {
    display: none;
}
.background {
    transform: translateZ(-10px) scale(2);
}
.foreground {
    transform: translateZ(-5px) scale(1.5);
}
.char {
    cursor: pointer;
    opacity: .5;
}
.char:hover {
    opacity: 1;
}
.charActive {
    opacity: 1;
}
.background, 
.foreground {
     position: absolute;
     height: 100%;
     width:  100%;
     object-fit: cover;
     z-index: -1;
}
.backStory {
    z-index: 1;
    color: #FFFFFF;
    background-color: #1B1919;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.backStory p {
    text-align: center;
    width: 90%;
}

.backStoryImg {
    height: 30vh;
}
.characterHeroSection {
    min-width: 95vw;
    margin-bottom: 5em;
    text-align: center !important;
}
.charLetter {
    height: 110px;
    cursor: pointer;
    transition: .2s all ease-in-out;
    opacity: .7;
    margin: 0 .5em;
}
.charLetter:hover, .selectedCharacter {
    transform: scale(1.2);
    opacity: 1;
}
.fmSpecialSection {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    padding: 0;
    justify-content: center;
    align-items: center;
    margin: 2em .5em;
    /* min-height: 100vh; */
}
.charInfoText {
    color: #d6d6d6;
    font-size: .9em;
    line-height: 1.7em;
}
.charactersTogether {
    width: 100vw;
}
.containerFM {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 12em;
    margin-bottom: 2em;
}
.centered {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

@media (min-width: 600px) {
  
    .storyHero {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        transform-style: preserve-3d;
        z-index: -1;
    }
    .charInfoText {
        text-align: center;
    }
    .storyBTitle {
        font-size: 3em;
    }
    .storyTitle {
        font-size: 2.4em;
    }
    .storyImg {
        width: 260px;
        border-top: 1px solid gray;
    }
    .charLetter {
        height: 200px;
        margin: 0 2em;
    }
    .charInfoText {
        font-size: 1em;
    }
    .backStory {
        flex-direction: row;
        width: 100vw;
    }
    .backStory p {
        text-align: left;
    }
    .backStoryImg {
        order: 1;
        /* height: 70vh; */
    }
    .characterHeroSection {
        margin-bottom: 10em;
    }
}

@media (min-width: 1000px) {
    .MappG {
        display: none;
    }
    .AppG {
        display: block;
        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
        perspective: 10px;
        scroll-behavior: smooth;
    }
    .storyBTitle {
        font-size: 3.5em;
    }
    .storyText {
        text-align: left;
    }
    .charLetter {
        height: 250px;
    }
    .charInfoText {
        text-align: left;
        font-size: 1.1em;
        line-height: 1.8em;
    }
    .storyTitle {
        font-size: 2.8em;
    }
    .storyImg {
        border-top: 0;
    }
    .charLetter {
        height: 300px;
    }
    .fmSpecialSection {
        flex-direction: row;
        justify-content: space-around;
    }
}
