@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1B1919;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  cursor: pointer;
}

.dynamicSection {
  display: flex;
  justify-content: space-between;
}

.pagesContent {
  margin-left: 3.5em;
  text-align: center;
  min-width: 0;
  overflow-x: hidden;
}

.App {
  margin-top: 5em;
  
}

@media (min-width: 1000px) {
  
}
